<div class="container">
  <!--<img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">-->

  <div class="row">
    <div class="col-md-11">
      <h2>{{presenter?.presenter | uppercase}} </h2>
      <a [routerLink]="['/speakers/new', presenter.presenter]">Edit</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Description:</strong> {{presenter?.description}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{presenter?.address}}
      </address>
    </div>
  </div>

  <hr/>

  <speaker-sessions [presenter]="presenter?.presenter"></speaker-sessions>